* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: #2a607c;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #d9dcd6;
}

/* header styles start */
header {
    padding: 20px 35px;
    background-color: #2a607c;
    in
}

header h1 {
    display: inline;
    font-size: 36px;
    font-weight: bold;
    margin: 0;
    color: aliceblue;
}

header a {
    text-decoration: none;
    color: aliceblue;
}

header a span {
    color: #d9dcd6;
}

header nav {
    float: right;
    margin: 7px 0;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 22px;
}
/* Header Style Ends */

/* Hero Section Starts */
.hero {    
    width: 50%;
    height: 10%;
}
/* Hero Section Ends */  

/* Search-Engine-Optimization/Lead Generation */
.SEO {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px 5px 10px; 
    padding: 30px;
    color: aliceblue;
    overflow: auto;
    width: auto;
    background-color: #d9dcd6;
}

.lg-h3 {
    background-color:#2589bd;
    color: aliceblue;
    text-align: center;
    float: right;
    vertical-align: top;
    width: 13%;
}

.seo-img {
    width: 35%;
    float: left;
    padding: 30px 10px 30px 50px;
    background-color: #0072bb;
}

.seo-h1 {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 50%;
    background-color: #0072bb;
    padding: 30px;
}

.lg-img {
    width: 13%;
    float: right;
    vertical-align: top;
    background-color:#2589bd;
    padding: 10px 10px 10px 10px;
}

.seo-p {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 50%;
    height: 201px;
    background-color: #0072bb;
    font-size: large;
}

.lg-p {
    background-color:#2589bd;
    color: aliceblue;
    text-align: left;
    float: right;
    vertical-align: top;
    padding: 10px 10px;
    width: 13%;
}
/* Search-Engine-Optimization/Lead Generation Ends*/

/*  Online-Reputation-Management/Brand Awareness Ends */
.ORM {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px 5px 10px; 
    padding: 30px;
    color: aliceblue;
    overflow: auto;
    width: auto;
    background-color: #d9dcd6;
}

.ORM-div {
    display: inline-block;
}

.ba-h3 {
    background-color:#2589bd;
    color: aliceblue;
    text-align: center;
    float: right;
    vertical-align: top;
    width: 13%;
}

.ba-img {
    width: 13%;
    float: left;
    vertical-align: top;
    background-color:#2589bd;
    padding: 10px 10px 10px 10px;
}

.orm-img {
    width: 35%;
    float: right;
    padding: 30px 10px 30px 50px;
    background-color: #0072bb;
}

.orm-h1 {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 50%;
    background-color: #0072bb;
    padding: 30px;
}



.orm-p {
    float: left;
    text-align: left;
    vertical-align: center;
    width: 50%;
    height: 201px;
    background-color: #0072bb;
    font-size: large;
}

.ba-p {
    background-color:#2589bd;
    color: aliceblue;
    text-align: left;
    float: right;
    vertical-align: top;
    padding: 10px 10px;
    width: 13%;
}/*  Online-Reputation-Management/Brand Awareness Ends */









































/* Social-Media-Marketing/Cost Management Stars */
.SMM {
    display: inline-block;
    vertical-align: top;
    margin: 5px 10px 5px 10px; 
    padding: 30px;
    color: aliceblue;
    overflow: auto;
    width: auto;
    background-color: #d9dcd6;

}
.cm-h3 {
    background-color:#2589bd;
    color: aliceblue;
    text-align: center;
    float: right;
    vertical-align: top;
    width: 13%;
}

.smm-img {
    width: 35%;
    float: left;
    padding: 30px 10px 30px 50px;
    background-color: #0072bb;
}

.smm-h1 {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 50%;
    background-color: #0072bb;
    padding: 30px;
}

.cm-img {
    width: 13%;
    float: right;
    vertical-align: top;
    background-color:#2589bd;
    padding: 10px 10px 10px 10px;
}

.smm-p {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 50%;
    height: 238px;
    background-color: #0072bb;
    font-size: large;
}

.cm-p {
    background-color:#2589bd;
    color: aliceblue;
    text-align: left;
    float: right;
    vertical-align: top;
    padding: 10px 10px;
    width: 13%;
}
/* Social-Media-Marketing Ends */






/* Footer Style Starts */
footer {
    background: #0072bb;
    width: 100%;
    padding: 40px 35px;
}

footer div {
    float: right;
    line-height: 1;
    text-align: right;
}

footer h2 {
    display: inline;
    color: #d9dcd6;
    font-size: 15px;
    margin: 0;
}

footer a {
    color: #d9dcd6;
}
/* Footer Style Ends */
